/*ADDED JUSTIFY CONTENT AND ALIGN ITEMS TO HEADER SUCH THAT LOGO AND IMAGE ARE AT LEFT AND RIGHT PARTS*/
:root {
    --primary-color: rgb(12, 182, 255);
    --secondary-color: aqua;
    --accent1-color: black;
    --accent2-color: gray;
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Arial', sans-serif;
    --heading-color: blue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}


header {
    display: flex;
    justify-content: space-between; 
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 20px;
    margin: 0 auto;
    width: 840px;
    align-items: center; 
}

header img {
    width: 100px;
    height: auto;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}


header,main, footer {
    margin: 0 auto;
    width: 840px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 12px;
}

.hero{
    position: relative;
    margin-top: 16px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.7); 
    color: var(--heading-color);
    padding: 15px;
}

.hero article{
    position: absolute;
    float: left;
    margin: 16px;
    padding: 8px;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 200px;

}

.client-happy img {
    float: left; 
    width: 200px;
    height: auto;
    border: 0.5rem solid var(--accent2-color); 
    padding: 2px;
    margin: 0 20px 10px 0;

}

.socialmedia a {
    text-decoration: none;
}
