/*ADDED JUSTIFY CONTENT AND ALIGN ITEMS TO HEADER SUCH THAT LOGO AND IMAGE ARE AT LEFT AND RIGHT PARTS*/
:root {
    --primary-color: rgb(12, 182, 255);
    --secondary-color: aqua;
    --accent1-color: black;
    --accent2-color: white;
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Arial', sans-serif;
    --heading-color: blue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}


header {
    display: flex;
    justify-content: space-between; 
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 20px;
    margin: 0 auto;
    width: 840px;
    align-items: center; 
}

header img {
    width: 100px;
    height: auto;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}


header,main, footer {
    margin: 0 auto;
    width: 840px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 , h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

.hero{
    position: relative;
    margin-top: 16px;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--accent2-color); 
    color: var(--heading-color);
    padding: 15px;
    opacity: 0.6;
}

.hero article{
    opacity: 0.7;
    left: 0px;
    bottom: 0px;
    position: absolute;
    float: left;
    background-color: white;
}

.hero article img {

    float: right;
    width: 200px;

}




.socialmedia a {
    text-decoration: none;
}
