:root {
    --main-color: darkblue;
    --accent-color: aqua;
    --text-color: red;
}
nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30 gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 20px;
    border: 1px solid rgba(246, 17, 0, 0.23);
    padding: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    padding: 1rem;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}